.card {
    border: none;
    background-color: #565656 !important;
    width: 1225px;
    max-height: 535px;
    height: 100vh !important;

    box-shadow: 24px 23px 24px rgba(0, 0, 0, 0.25);
    border-radius: 40px !important;

    font-family: 'Oswald', sans-serif;
}

.movieTitle,
.movieStats {
    margin-left: 50px;
}

.poster {
    width: 175px;
    height: auto;
}

.movieName {
    font-size: 72px;
    color: #fff;
    font-weight: 600;
}

.aboutMovie {
    color: #fff;
    width: 400px;
    font-size: 18px;
    font-weight: 300;
}

.ratings {
    color: #fff;
    font-size: 14px;
}

.ratings img {
    width: 50px;
    height: auto;
}

.metaLogo {
    width: 25px !important;
}

.stat {
    background-color: #5B66F0;
    border-radius: 30px;
}

.StatMain {
    color: #fff;
    font-size: 20px;
}

.Statcategory {
    color: #bdbdbd;
    font-size: 14px;
}