.more {
    transform: translateX(0);
    animation: slide 1.2s ease-out !important;
}

.title {
    letter-spacing: 0.17em;
}

.movieCard img {
    width: 95px !important;
    height: auto;
}

@media (min-width: 768px) {
    .title.moremovies {
        font-size: 20px !important;
    }

    .movieCard img {
        width: 160px !important;
        height: auto;
    }
}