.footer img {
    width: 30px !important;
    height: auto;
}

.thisgo {
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 10px;
    text-align: center;

    color: #fff;
}

a {
    cursor: pointer;
}