.form-control,
.form-control:focus,
.form-control:active {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;

  height: 50px;
  width: 550px !important;

  background: #d9d9d9 !important;
  border-radius: 40px !important;

  font-family: "Oswald", sans-serif;
  font-size: 20px !important;
}

.form-control::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

img {
  width: 510px;
  height: auto;
}

.searcher {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn.btn-primary {
  background-color: #5b66f0 !important;
  width: 90px;
  border-radius: 40px;
}

.btn.btn-primary:hover {
  transform: scale(1.1);
}

.loadingDiv {
  max-height: 500px;
}

.loadingSub {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  color: #fff;
}

.spinner-border {
  height: 100px !important;
  width: 100px !important;
  --bs-spinner-border-width: 0.8em !important;
}
