.resultcard {
  width: 85%;
  border: 1px solid #cccccc;
  border-radius: 15px;
}

.resultcard img {
  width: 95px !important;
  height: auto;
}

.SearchTitle {
  font-family: "Overpass";
  font-style: italic;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 0.18em;

  margin: 0;
  padding: 0;

  color: #cccccc;

  height: 50px;
  width: 90%;
}

.imdbId {
  font-family: "Overpass";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.18em;

  color: #cccccc;
}

.year {
  font-family: "Overpass";
  font-style: italic;
  font-weight: 900;
  font-size: 18px;

  letter-spacing: 0.18em;
  padding: 0;
  margin-top: 5px;

  color: #cccccc;
}

.infoSearch {
  width: 150px !important;
}

@media (min-width: 1024px) {
  .resultcard {
    width: 40% !important;
  }

  .SearchTitle {
    width: 100%;
  }

  .infoSearch {
    width: 60% !important
  }
}

@media (max-width: 450px) {
  .resultcard {
    width: 90% !important;
  }

  .infoSearch {
    width: 110px !important;
  }

  .SearchTitle {
    font-size: 14px;
  }
}