:root {
  font-family: 'Overpass', sans-serif;
  font-size: 62.5%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  ---background-color: #000;
  ---primaryColor: #CCCCCC;
}

body {
  background-color: var(---background-color) !important;
}